/*Header*/

#body{
    font-family: Arial, sans-serif;
    background: url(https://i.pinimg.com/736x/a0/dd/88/a0dd88e05c52464466ea4d04abfa5a78.jpg) no-repeat center center fixed;
    margin: 0;
    padding: 20px;
    text-align: center;
    background-size: cover;

}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 125, 32, 0.366); /* White with 50% opacity */
    z-index: -1;
    pointer-events: none;
}

header{
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    margin-bottom: 20px;
} 

/*Display*/
#display{
    width: 80%;
    height: 50px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    margin-top: 15px;
}

.calculator
{
    width: 600px;
    height: auto;
    margin: auto;
    border: 2px solid #000;
    /*border-radius: 10px;*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #307138
}

/*Keypad*/
form{
    margin: 5px;
    padding: 0;
    border: 0;
    background-color: #307138;
}

.keypad{
    width: 600px;
    height: 650px;
    margin: auto;
    padding: 0;
    border: 0;
    background-color: #307138;
}

.button{
    width: auto;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding: none;
}

form section{
    margin: 5px;
    padding: 0;
    border: 0;
    background-color: #307138;
}

/*Buttons*/

input [type="text"]{
    width: 100%;
    height: 50px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #155fffcc;
    margin-bottom: 10px;
}

input[type="button"] {
    width: 22%;
    height: 75px;
    font-size: 18px;
    margin: 1%;
    margin: 40px 5px 30px 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #62c86e;
    transition: background-color 0.3s;
}

input[type="button"]:hover {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    transform: translateY(-5px);
}

.grid-container:single-button{
    display: grid;
    gap: 10px;
    padding: 10px;
    width: 100%;
    height: auto;
}

