#login{
   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
    
    display: flex;
    
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0,0, 0.1);
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    
}

#frame{
    position: absolute;
    color: #000000;
    top: 50%;
    left: 350px;
    transform: translate(-50%, -50%);
}


input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"], button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

